<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Article Validation | NLP</title>
  </head>

<body>
  <main>
    <div class="container">
        <h2>Enter a URL of an article / a blog to discover its sentiment.</h2>
      <section>
        <form class='form' id="form">
          <input type="text" id="url" name="url_input" value="" autocomplete="false" placeholder="Enter Article/blog URL here" />
          <button
            type="submit"
            class="btn"
          >
            <span>Discover</span>
          </button>
        </form>
      </section>
      <div class="spinner hidden"></div>
      <section class="results hidden">
        
        <strong>Form Results:</strong>
        <div id="model"></div>
        <div id="agreement"></div>
        <div id="subjectivity"></div>
        <div id="confidence"></div>
        <div id="irony"></div>
        <div id="score_tag"></div>
      </section>
    </div>
  <script>
    // Check that service workers are supported
    if ("serviceWorker" in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener("load", () => {
        navigator.serviceWorker.register("/service-worker.js");
      });
    }
  </script>
</body>
</html>
